.skill-card {
  display: flex;
  overflow: hidden;
  max-width: 400px;
  border-radius: 10px;
  transition: box-shadow 350ms ease-in-out, transform 350ms ease-in-out;
  z-index: 5;
  margin: 5px;
}
.skill-card:hover {
  box-shadow: 3px 3px 8px rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
  z-index: 1000;
}
.skill-card .skill-img-container {
  width: 120px;
  min-width: 120px;
  height: 120px;
  min-height: 120px;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
}
.skill-img-container img {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.skill-desc-container {
  flex: 1;
  height: 90px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  gap: 5px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  padding: 10px;
  padding-left: 30px;
  margin-left: -10px;
  z-index: 1;
}
.skill-desc-container h4 {
  font-size: 1.2rem;
}
.skill-desc-container p {
  line-height: 1.2;
  text-transform: capitalize;
  font-size: small;
  font-style: oblique;
  text-align: start;
}
@media screen and (max-width: 460px) {
  .skill-desc-container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2px;
    padding-left: 15px;
    gap: 2px;
  }
}
