#home {
  flex-direction: column;
  gap: 20px;
  width: 100%;
  animation: 2s ease-in-out fadeFromRight;
}
@keyframes fadeFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
