.skills-category-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.skills-category-card h3 {
  font-size: 1.4rem;
  font-style: italic;
}
#skills-cards-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  justify-items: center;
}
