header {
  height: 110px;
  gap: 20px;
  align-items: center;
  transition: height 350ms ease-in-out, background-color 350ms ease-in-out,
    transform 350ms ease-in-out;
  position: sticky;
  top: 0px;
  z-index: 3;
  background: radial-gradient(circle at 50% 50%, #35323d, #030203);
  border: none;
  outline: none;
  animation: 500ms ease-in fadeFromTop;
}
#logo-bars-icon-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
#logo-img-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-left: 5px solid rgb(102, 102, 102);
  border-right: 5px solid rgb(102, 102, 102);
  overflow: hidden;
}
#logo-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#logo-text {
  width: 10rem;
  font-weight: bolder;
}
#logo-text text {
  font-size: 6rem;
  font-style: oblique;
  stroke-width: 2;
  letter-spacing: -10px;
}
#logo-text text.text-body {
  stroke: white;
  animation: 5s infinite ease-in-out alternate animate-logo-stroke;
}
@keyframes animate-logo-stroke {
  0% {
    fill: transparent;
    stroke-width: 3;
    stroke: white;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke-width: 3;
    stroke: white;
  }
  80%,
  100% {
    fill: white;
    stroke-width: 0;
    stroke: transparent;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}
#mobile-menu-btn {
  display: none;
  font-size: 2rem;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 350ms ease-in-out;
}
#links-contact-icons-div {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
}
#nav-links {
  display: flex;
  align-items: center;
  gap: 1px;
  overflow: hidden;
}
#nav-links li {
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 350ms ease-in-out, color 350ms ease-in-out;
}
#nav-links li:hover {
  color: white;
  background-color: hsl(0, 0%, 30%);
}

.show-nav-links {
  height: 300px;
}
.rotate-mobile-nav-btn {
  transform: rotateZ(90deg);
}

.active {
  background-color: hsl(0, 0%, 30%);
  border-radius: 5px;
  color: white;
  padding: 5px;
}
@media screen and (max-width: 945px) {
  header {
    flex-direction: column;
    gap: 0px;
  }
  #logo-bars-icon-div {
    width: 100%;
  }
  #mobile-menu-btn {
    display: flex;
  }
  #links-contact-icons-div {
    flex-direction: column;
    gap: 0px;
    width: 100%;
  }
  #nav-links {
    flex-direction: column;
    width: 100%;
  }
  #nav-links li,
  #nav-links li a {
    width: 100%;
  }
}
