* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #35323d, #030203);
  color: #666666;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
header,
main,
footer {
  padding: 20px 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  flex: 1;
  padding-top: 140px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 3s ease-in-out infinite alternate breath;
}
@media screen and (max-width: 760px) {
  header,
  footer {
    padding: 20px;
  }
  main {
    padding: 140px 20px 20px 20px;
  }
}
@keyframes glow {
  0% {
    color: hsl(0, 0%, 25%);
  }
  50% {
    color: hsl(0, 0%, 50%);
  }
  75% {
    color: hsl(0, 0%, 75%);
  }
  100% {
    color: hsl(0, 0%, 100%);
  }
}
@keyframes breath {
  from {
    transform: scale(1.1);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
  to {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes fadeFromTop {
  0% {
    opacity: 0;
    transform: translateY(-1000%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeFromBottom {
  0% {
    opacity: 0;
    transform: translateY(1000%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
